/* Variables */
:root {
  --color-primary: #2196f3;
  --color-primary-dark: #1976d2;
  --color-accent: #ff4081;
  --color-accent-dark: #ff1869;
  --color-background: #fff;
  --color-text: #000;
  --color-text-light: #666;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 18px;
  margin: 0;
}

div#__nuxt,
#__layout,
#__layout > div,
#app {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

/* Transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.1s ease;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform: scale(0);
}

button {
  background: var(--color-accent);
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 1rem;
  margin: 0.5rem;
}
button:hover {
  background: var(--color-accent-dark);
  cursor: pointer;
}
button:active {
  transform: translateY(1px);
}
